/* .parent{
    font-size: 32px;
}
.child{
    font-size: 16px;
    width: 10rem;
    background-color: blue;
} */
/* em is equivalent to the fontsize of parent fontsize
   nesting cannnot be done in p *
   rem is equivalent to root tag/element 1 rem = 16px
   */

/* .btn{
    display: block;
    padding: 1em;
    border-radius: 8px;
    border: none;
    margin: 10px auto;
    font-size: 16px;
    width: 8rem;
}
.btn-small{
    font-size: 10px;
} */
/* body{
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
}
.parent{
    height: 100%;
    background-color: rgb(49, 9, 226);
}
.child{
    min-height: 100px;
    max-height: 300px;
    background-color: rgb(197, 34, 40);
    overflow: hidden;
    overflow: scroll;
} */

body {
  background-color: aqua;
  height: 100vh;
  width: 100vw;
  padding: 10px 32px;
}

/* .parent{
  ol{
    background-color: blueviolet; */

/* } */
/* ul:first-child{
    background-color: blue
    ; */
/* }
  ul:last-child{
    /* background-color: green;
     li:first-child{
        background-color: aliceblue;
        width: fit-content;
    }
    li:nth-child(3){
       background-color: rgb(210, 36, 213);
       width: fit-content;
   }
     li:last-child{
        background-color: rgb(5, 28, 48);
        width: fit-content;
    } */

/* li:nth-of-type(2){
        background-color: blue;
    } */

.parent ul {
  background-color: blue;
}
.parent > ul {
  background-color: brown;
}
.parent + ul {
  background-color: gray;
}

/* .child>:first-child{           single colon - pseudo calss  double colon pseudo element
    background-color: brown;
}
.child>:nth-child(3){
    background-color: brown;
} */
